<link rel="stylesheet" href="/assets/css/style.css"> {{!--
<nav>
    <div class="nav-wrapper">

        <a href="/">
            <img src="../assets/images/karmalogowhite.png" width="5%">
        </a>
        <ul class="right">
            <li>
                <a href="../home">Ted Talk Scraper</a>
            </li>
            <li>
                <a href="../home">Home</a>
            </li>
            <li>
                <a href="../saved">Saved Articles</a>
            </li>
            {{!--
            <li> --}} {{!--
                <a href="../" class="btn signout">Sign Out</a> --}} {{!-- </li> --}}
        </ul>
    </div>
</nav> --}}

<main>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                        <a href="../home">Ted Talk Scraper</a>
                    </li>
                    <li role="presentation">
                        <a href="../home">Home</a>
                    </li>
                    <li role="presentation">
                        <a href="../saved">Saved Articles</a>></li>
                </ul>
            </nav>
            <h3 class="text-muted">Project name</h3>
        </div>
        <div class="jumbotron">
            <h1>Saved ARTICLES</h1>
            <p>...</p>
            <img src="/assets/images/ted-talks.png" width="90%"> {{!--
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p> --}}
        </div>
    </div>
    <div class="container">

        <div class="row" id="article-list">
            {{!--
            <div class="col s5">
                <img src="/assets/images/ted-talks.png" width="90%">
            </div> --}}
            <div class="col s6">
                <h3 class="saveddeet">Saved Ted Talks</h3>
                <ul>
                    <lh id="saveddetail">
                        <li class="saved-detail">

                            <span>
                                <p id="title" value={{this.title}} class="label2">Title: </p>
                                <p>{{this.title}}</p>
                            </span>
                            <span>
                                <p id="link" value={{this.link}} class="label2">Link: </p>
                                <p>{{this.link}}</p>
                            </span>
                            <span>
                                <p id="speaker" value={{this.speaker}} class="label2">Speaker: </p>
                                <p>{{this.speaker}}</p>
                            </span>
                            <span>
                                <p id="date_posted" value={{this.date_posted}} class="label2">Date Posted: </p>
                                <p>{{this.date_posted}}</p>
                            </span>
                            <span>
                                <p id="classification" value={{this.classification}} class="label2">Classification: </p>
                                <p>{{this.classification}}</p>
                            </span>

                            <p class="hideText">
                                <p id="object_id" value={{this._id}} class="label2">ID: </p>
                                <p>{{this._id}}</p>
                            </p>
                            <button id="addanoteBtn" class="btn btn-lg btn-success" type="submit" name="action" data-id={{this._id}}>Add a Note
                            </button>
                            <button id="deleteBtn" class="btn btn-lg btn-success" type="submit" name="action" data-id={{this.id}}>Delete this article from Saved</button>
                            </button>
                        </li>
                        <br>
                    </lh>
                </ul>
            </div>
        </div>
    </div>

</main>
<div class="container">
    <footer>
        <div class="row">
            <div class="col-md-12">
                <h3>About TED</h3>
                <p>TED is a nonpartisan nonprofit devoted to spreading ideas, usually in the form of short, powerful talks.
                    TED began in 1984 as a conference where Technology, Entertainment and Design converged, and today covers
                    almost all topics — from science to business to global issues — in more than 110 languages. Meanwhile,
                    independently run TEDx events help share ideas in communities around the world.</p>¸
                </br>
                </br>© 2018 Copyright
                <a href="https://github.com/janetcushing">Janet Cushing</a>
            </div>
        </div>
    </footer>
</div>